tmp/
.env
*.pkl

__pycache__/
*.pyc

fusion
dynamic_qiskit.out
static_qiskit.out
qobj.json
qiskit-aer/src/transpile/fusion_backup.hpp

fusionCircuit/
model/
qiskitFusionCircuit/
queenFusionCircuit/
subCircuit/
txt/

# generated tmp files
diagonal.txt
sub_cpu.ini
out*.txt
graph*.dot
graph.svg
fusion_dump*.txt
xxx*.txt

# perf
*.svg
out.perf
out.folded
perf.data
perf.data.old
*.pl